# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/                         

# Misc
*.local

# dotenv environment files
.env                           
.env.*                         

# Vite cache
.vite/                         

# Coverage results
coverage/                      

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
